#customerDetails, #customerItems{
  display: none;
}
#signOut{
  text-align: center;
  font-style: oblique;
}
#header{
  background-color: #f4f2f2;
  text-align: center;
  color: #472e2e;
  font-weight: bold;
  text-decoration: underline;
  height: auto;
}
#detailsSubmitButton{
  padding: 10px;
text-align: center;
}
h1{
  margin: auto;
}
h3{
  margin-top: auto;
}
h5{
  text-decoration: underline;
}
#market{
  padding:27px;
}

#clientName{
  border-right: white solid 10px;
}
#customeritems{
  border-left: black solid 1px;
}
