#header{
  background-color: #f4f2f2;
  text-align: center;
  color: #472e2e;
  font-weight: bold;
  text-decoration: underline;
  height: auto;

}

#market{
  padding:27px;
}

#clientName{
  border-right: black solid 1px;
}

#itemsForSale{
  margin-top: 33px;
}
